#backgroundAbout{
    background-image: url("../../assets/backgroudZapatillas.jpg");
    height: 500px;
    width: 60%;
    background-position: center;
}
#pAbout{
    margin-top: 30%;
    margin-left: 10%;
}
iframe{
    width: 91%;
    height: 300px;    
}
#containerDatos{
    margin-top: 3rem;
}
span{
    color: #0d6efd;
}

@media  (max-width: 992px) {
    #backgroundAbout{
        width: 100%;
    }
    iframe{
        width: 90%;
        height: 350px;
    }
    #pAbout{
        margin-top: 10%;
        margin-left: 5%;
    }  
}
#spanAbout{
    color: white;
}